@font-face {
    font-family: 'CeraPro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'PalatinoLinotype';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/PalatinoLinotype-Bold.woff2') format('woff2'),
        url('../fonts/PalatinoLinotype-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Proximanova';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Proximanova-Regular.woff2') format('woff2'),
        url('../fonts/Proximanova-Regular.woff') format('woff');
    font-display: swap;
}