<section class="autopark-hero " style="background-image: url('images/autopark/bg.jpg');">
    <h1 class="autopark-hero__title">
        наш
        <span class="autopark-hero__subtitle">
            Автопарк
        </span>
    </h1>
    <div class="container">
        <div class="autopark-hero__inner">

            <div class="address-card">
                <div class="address-card__block">
                    <h2 class="address-card__title">
                        автомобиль по подписке с полным обслуживанием
                    </h2>
                </div>
                <div class="address-card__block">
                    <address class="address">
                        <ul class="address__list">
                            <li class="address__item address__item_location">
                                <span>Наш адрес:</span>
                                г. Киев, улица Победы, 20
                            </li>
                            <li class="address__item address__item_time">
                                <span>Время работы:</span>
                                круглосуточно
                            </li>
                        </ul>
                    </address>
                </div>
                <button class="address__button button">заказать машину</button>
            </div>            

            <div class="autopark-hero__block">
                <img class="autopark-hero__image" src="images/autopark/ellipse.png" alt="эллипс меню">
                <ul class="autopark-menu">
                    <li class="autopark-menu__item autopark-menu__item_premium">
                        Премиум <a class="autopark-menu__link" href="#premium" data-link="autopark"><span class="autopark-menu__circle"></span></a>
                    </li>
                    <li class="autopark-menu__item autopark-menu__item_business">
                        Бизнес <a class="autopark-menu__link" href="#business" data-link="autopark"><span class="autopark-menu__circle"></span></a>
                    </li>
                    <li class="autopark-menu__item autopark-menu__item_sport">
                        Спорт <a class="autopark-menu__link" href="#sport" data-link="autopark"><span class="autopark-menu__circle"></span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>