<section class="autopark section">
    <h2 class="autopark__subtitle subtitle">
        автопарк
    </h2>

    <div class="autopark__top">
        <a class="autopark__title-link" href="autopark.html">
            <h3 class="autopark__title title">
                Премиум
            </h3>
        </a>
        <a class="autopark__title-link" href="autopark.html">
            <h3 class="autopark__title title">
                Бизнес
            </h3>
        </a>
        <a class="autopark__title-link" href="autopark.html">
            <h3 class="autopark__title title">
                Спорт
            </h3>
        </a>
    </div>

    <span class="sr-only">галлерея машин</span>
    <div class="autopark__slider swiper">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img class="autopark__image" src="images/autopark/1.jpg" alt="галлерея машин" width="660"
                    height="379">
                <button class="autopark__button button" type="button" data-order>Заказать машину</button>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="images/autopark/2.jpg" alt="галлерея машин" width="660"
                    height="379">
                <button class="autopark__button button" type="button" data-order>Заказать машину</button>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="images/autopark/3.jpg" alt="галлерея машин" width="660"
                    height="379">
                <button class="autopark__button button" type="button" data-order>Заказать машину</button>
            </div>

            <div class="swiper-slide">
                <img class="autopark__image" src="images/autopark/1.jpg" alt="галлерея машин" width="660"
                    height="379">
                <button class="autopark__button button" type="button" data-order>Заказать машину</button>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="images/autopark/2.jpg" alt="галлерея машин" width="660"
                    height="379">
                <button class="autopark__button button" type="button" data-order>Заказать машину</button>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="images/autopark/3.jpg" alt="галлерея машин" width="660"
                    height="379">
                <button class="autopark__button button" type="button" data-order>Заказать машину</button>
            </div>

        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>

    </div>

    <div class="modal">
        <div class="modal__dialog">
            <div class="modal__content">
                <form action="#">
                    <button class="modal__close" data-close type="button">&times;</button>
                    <h4 class="modal__title">Мы свяжемся с вами как можно быстрее!</h4>
                    <input class="modal__input" placeholder="Ваше имя" name="name" type="text" required>
                    <input class="modal__input" placeholder="Ваш номер телефона" name="phone" type="phone" required>
                    <button class="modal__button button" type="submit">Перезвонить мне</button>
                </form>
            </div>
        </div>
    </div>

</section>