<section class="business section">
    <h2 class="business__title title">
        аренда автомобиля
    </h2>
    <h3 class="business__subtitle">
        для бизнеса
    </h3>

    <div class="business__inner" style="background-image: url(images/bg/business-bg.jpg)">
        <div class="business__image">
            <img class="business__img" src="images/auto-business.jpg" alt="порше" width="410" height="196">
        </div>
        <div class="benefits">
            <h4 class="benefits__title">Простота, удобство и комфорт</h4>
            <ul class="benefits__list">
                <li class="benefits__item">Вам не нужно покупать машину и страховой полис</li>
                <li class="benefits__item">В личном кабинете Вы сможете контролировать использования автомобиля своими
                    сотрудниками</li>
                <li class="benefits__item">Вы самостоятельно выставляете лимиты своим сотрудникам</li>
                <li class="benefits__item">Наша система позволяет построить трекер движения автомобиля</li>
                <li class="benefits__item">Без суточного лимита по пробегу</li>
                <li class="benefits__item">Не нужно думать о ТО и замене резины</li>
                <li class="benefits__item">Техническая поддержка 24/7</li>
                <li class="benefits__item">Возможность передачи права управления автомобилем</li>
            </ul>
            <span class="benefits__note">*Подробнее c условиями Вас ознакомит персональный менеджер</span>
        </div>

    </div>

</section>