<section class="conditions section" style="background-image: url('images/bg/condition-bg.jpg');">
    <div class="container">
        <h2 class="conditions__title title">
            условия
        </h2>
        <h3 class="conditions__subtitle subtitle">
            аренды
        </h3>

        <div class="conditions__content">

            <ul class="conditions__list">

                <li class="conditions__item">
                    <button class="conditions__button" id="accordion-button-1" aria-expanded="false">
                        бронирование
                        <span class="sr-only">открыть информацию о бронировании автомобиля</span>
                        <span class="conditions__icon" aria-hidden="true"></span>
                    </button>
                    <ul class="conditions__text description">
                        <li class="description__item">
                            Для оформления заказа необходимо предъявить минимум документов: паспорт, ИНН, водительские
                            права.
                        </li>
                        <li class="description__item">
                            Можно оформить предварительный
                            заказ и произвести его оплату онлайн. Подача авто в указанное клиентом место выполняется
                            точно в срок. Клиент получает транспортное средство в исправном состоянии и с заправленным
                            баком. За дополнительную стоимость машина осна Допускается установка в салоне детского
                            кресла.
                        </li>
                    </ul>
                </li>

                <li class="conditions__item">
                    <button class="conditions__button" id="accordion-button-2" aria-expanded="false">
                        правила аренды
                        <span class="sr-only">открыть список правил аренды</span>
                        <span class="conditions__icon" aria-hidden="true"></span>
                    </button>
                    <ul class="conditions__text description">
                        <li class="description__item">
                            Эксплуатировать автомобиль только в пределах Киева. Выезд за пределы ЛО согласовывается
                            индивидуально.
                        </li>
                        <li class="description__item">
                            Не нарушать скоростные ограничения и не использовать экстремальные техники вождения.
                        </li>
                        <li class="description__item">
                            Не передавать управление другому человеку без оформления на него договора аренды. При
                            желании вы можете бесплатно внести второго водителя в договор аренды.
                        </li>
                        <li class="description__item">
                            Не управлять транспортным средством в состоянии алкогольного опьянения.
                        </li>
                        <li class="description__item">
                            Не перевозить оружие и вещества, запрещенные законодательством Российской Федерации.
                        </li>
                        <li class="description__item">
                            Соблюдать правила парковки
                        </li>
                        <li class="description__item">
                            Соблюдать чистоту и не курить в салоне автомобиля.
                        </li>
                        <li class="description__item">
                            Перевозить животных только в закрытых переносках, исключающих прямой контакт животных с
                            салоном автомобиля.
                        </li>
                        <li class="description__item">
                            Вернуть автомобиль в целости, сохранности, технически исправным и чистым для оперативного
                            осмотра.
                        </li>
                    </ul>
                </li>

                <li class="conditions__item">
                    <button class="conditions__button" id="accordion-button-3" aria-expanded="false">
                        обеспечительный платёж
                        <span class="sr-only">открыть информацию об обеспечительном платеже</span>
                        <span class="conditions__icon" aria-hidden="true"></span>
                    </button>
                    <ul class="conditions__text description">
                        <li class="description__item">
                            Оплата наличными денежными средствами;
                        </li>
                        <li class="description__item">
                            Оплата по банковским реквизитам Арендодателя;
                        </li>
                        <li class="description__item">
                            Оплата банковской картой (МИР, VISA International, Mastercard Worldwide, JCB) по терминалу
                            оплаты;
                        </li>
                        <li class="description__item">
                            Оплата банковской картой по статической ссылке
                        </li>
                    </ul>
                </li>

                <li class="conditions__item">
                    <button class="conditions__button" id="accordion-button-4" aria-expanded="false">
                        страхование
                        <span class="sr-only">открыть информацию о страховании</span>
                        <span class="conditions__icon" aria-hidden="true"></span>
                    </button>
                    <ul class="conditions__text description">
                        <li class="description__item">
                            При аренде автомобиля в нашей компании Вы получаете полис обязательного страхования по ОСАГО
                            - БЕСПЛАТНО!
                        </li>
                        <li class="description__item">
                            В дороге любого водителя могут поджидать различные неожиданности. Страхование – лучший
                            способ обезопасить себя от возможных финансовых потерь и лишних волнений.
                        </li>
                        <li class="description__item">
                            Мы готовы помочь вам расширить действие страховки – по вашему желанию, дополнительно
                            оформляется страховка от угона и повреждений машины. Полная страховка выгодна тем, что она
                            освобождает арендатора от покрытия различных убытков и одновременно позволяет брать машину
                            на прокат без залога.
                        </li>
                    </ul>
                </li>

                <li class="conditions__item">
                    <button class="conditions__button" id="accordion-button-4" aria-expanded="false">
                        доставка и возврат
                        <span class="sr-only">открыть информацию о доставке и возврате</span>
                        <span class="conditions__icon" aria-hidden="true"></span>
                    </button>
                    <ul class="conditions__text description">
                        <li class="description__item">
                            Заложите достаточно времени на поездку до пункта возврата. В случае опоздания снимается 5%
                            от суммы залога.
                        </li>
                        <li class="description__item">
                            Вы получаете машину с полным баком и должны заправить ее до полного бака непосредственно
                            перед возвратом.
                        </li>
                        <li class="description__item">
                            Сфотографируйте индикатор уровня топлива и пробега. Затем сделайте снимки передней, задней и
                            боковых частей автомобиля снаружи.
                        </li>
                        <li class="description__item">
                            Заберите все свои вещи. Проверьте багажник, бардачок, дверные карманы, области под сидениями
                            и карманы на спинках кресел.
                        </li>
                        <li class="description__item">
                            Подойдите на ресепшн, со всеми документами, которые вы получили при аренде автомобиля для
                            оформления возврата.
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="conditions__block registration">
                <ul class="registration__list">
                    <li class="registration__item registration__item_docs">
                        <span class="registration__title">
                            документы
                        </span>
                        <span class="registration__text">
                            Паспорт и водительское
                            удостоверение
                        </span>
                    </li>
                    <li class="registration__item registration__item_year">
                        <span class="registration__title">
                            возраст
                        </span>
                        <span class="registration__text">
                            от 21 года
                        </span>
                    </li>
                    <li class="registration__item registration__item_experience">
                        <span class="registration__title">
                            стаж
                        </span>
                        <span class="registration__text">
                            не менее 2 лет
                        </span>
                    </li>
                    <li class="registration__item registration__item_terms">
                        <span class="registration__title">
                            срок аренды
                        </span>
                        <span class="registration__text">
                            от 1 часа
                        </span>
                    </li>
                    <li class="registration__item registration__item_price">
                        <span class="registration__title">
                            цена
                        </span>
                        <span class="registration__text">
                            фиксированная
                        </span>
                    </li>
                    <li class="registration__item registration__item_manage">
                        <span class="registration__title">
                            управление
                        </span>
                        <span class="registration__text">
                            возможна передача
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>