<section class="contact">
    <div class="map">

        <iframe class="map__iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5025729887175!2d30.471444816076996!3d50.4503653794755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce842ed21b81%3A0x4527fb61e2632a66!2z0L_RgNC-0YHQvy4g0J_QvtCx0LXQtNGLLCAyMCwg0JrQuNC10LIsIDA0MTE2!5e0!3m2!1sru!2sua!4v1644238803496!5m2!1sru!2sua"
            width="1920" height="615" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="modal">
        <div class="modal__heading">
            <h2 class="modal__title">
                контакты
            </h2>
            <button class="modal__close" type="button">
            </button>
        </div>
        <span class="modal__text">
            Поможем подобрать наилучший вариант
        </span>
        <address class="address">
            <ul class="address__list">
                <li class="address__item address__item_location">
                    Наш адрес: <span class="address__item-location">Киев, ул. Победы, 20</span>
                </li>
                <li class="address__item address__item_email">
                    Наша почта: <a class="address__item-email"
                        href="meilto:galeoncar@internet.ua">galeoncar@internet.au</a>
                </li>
            </ul>
        </address>

        <div class="order">
            <a class="order__button button">заказать машину</a>
            <div class="order__connect">
                <a class="order__phone" href="tel:0958883094">(095) 888-30-94</a>
                <span class="order__text">
                    Звоните или оставляйте заявку
                </span>
            </div>
        </div>

        <div class="modal__bottom">
            <span class="modal__bottom-text">
                Мы в соц сетях:
            </span>
            <ul class="social">
                <li class="social__item">
                    <span class="sr-only">перейти в фейсбук</span>
                    <a class="social__link" href="#">
                        <svg class="social__image">
                            <use xlink:href="images/sprite.svg#fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <span class="sr-only">перейти в инстаграмм</span>
                    <a class="social__link" href="#">
                        <svg class="social__image">
                            <use xlink:href="images/sprite.svg#insta"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <span class="sr-only">перейти в вконтакте</span>
                    <a class="social__link" href="#">
                        <svg class="social__image">
                            <use xlink:href="images/sprite.svg#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <span class="sr-only">перейти в вайбер</span>
                    <a class="social__link" href="#">
                        <svg class="social__image">
                            <use xlink:href="images/sprite.svg#viber"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>