<section class="hero" style="background-image: url('images/bg/hero-bg.jpg');">
    <div class="container">

        <h1 class="hero__title">
            Аренда
            <span class="hero__subtitle">
                Премиум автомобилей
            </span>
        </h1>

        <span class="sr-only">Галлерея премиум автомобилей</span>
        <div class="hero__slider swiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img class="hero__image" src="images/hero/1.jpg" alt="Премиум автомобиль" width="456"
                        height="407">
                </div>
                <div class="swiper-slide">
                    <img class="hero__image" src="images/hero/2.jpg" alt="Премиум автомобиль" width="456"
                        height="407">
                </div>
                <div class="swiper-slide">
                    <img class="hero__image" src="images/hero/3.jpg" alt="Премиум автомобиль" width="456"
                        height="407">
                </div>
                <div class="swiper-slide">
                    <img class="hero__image" src="images/hero/4.jpg" alt="Премиум автомобиль" width="456"
                        height="407">
                </div>
                <div class="swiper-slide">
                    <img class="hero__image" src="images/hero/5.jpg" alt="Премиум автомобиль" width="456"
                        height="407">
                </div>                

            </div>
        </div>
</section>