<section class="nodriver section">
    <h2 class="nodriver__title title">
        аренда автомобиля
    </h2>
    <h3 class="nodriver__subtitle">
        без водителя
    </h3>

    <div class="nodriver__inner" style="background-image: url(images/bg/nodriver-bg.jpg)">
        <div class="nodriver__image">
            <img class="nodriver__img" src="images/nodriver.jpg" alt="аренда автомобиля без водителя" width="410"
                height="200">
        </div>
        <div class="registration">
            <ul class="registration__list">
                <li class="registration__item registration__item_docs">
                    <span class="registration__title">
                        документы
                    </span>
                    <span class="registration__text">
                        Паспорт и водительское
                        удостоверение
                    </span>
                </li>
                <li class="registration__item registration__item_year">
                    <span class="registration__title">
                        аренда
                    </span>
                    <span class="registration__text">
                        от 21 года
                    </span>
                </li>
                <li class="registration__item registration__item_experience">
                    <span class="registration__title">
                        стаж
                    </span>
                    <span class="registration__text">
                        не менее 2 лет
                    </span>
                </li>
                <li class="registration__item registration__item_terms">
                    <span class="registration__title">
                        срок аренды
                    </span>
                    <span class="registration__text">
                        от 1 часа
                    </span>
                </li>
                <li class="registration__item registration__item_price">
                    <span class="registration__title">
                        цена
                    </span>
                    <span class="registration__text">
                        фиксированная
                    </span>
                </li>
                <li class="registration__item registration__item_manage">
                    <span class="registration__title">
                        управление
                    </span>
                    <span class="registration__text">
                        возможна передача
                    </span>
                </li>
            </ul>
        </div>

    </div>
</section>