<section class="rent section">
    <h2 class="rent__title title">
        виды
    </h2>
    <h3 class="rent__subtitle subtitle">
        аренды
    </h3>
    <div class="rent__content">
        <div class="rent__block">
            <img class="rent__image" src="../../images/rent/1.jpg" alt="аренда автомобиля с водителем" width="660"
                height="379">
            <a class="rent__button button" href="driver.html">
                с водителем
            </a>
        </div>
        <div class="rent__block">
            <img class="rent__image" src="../../images/rent/2.jpg" alt="аренда автомобиля для особых целей" width="660"
                height="379">
            <a class="rent__button button" href="special.html">
                для особых целей
            </a>
        </div>
        <div class="rent__block">
            <img class="rent__image" src="../../images/rent/3.jpg" alt="аренда автомобиля без водителя" width="660"
                height="379">
            <a class="rent__button button" href="nodriver.html">
                без водителя
            </a>
        </div>
    </div>
</section>