<section class="requisites section">
    <div class="container">
        <h2 class="requisites__title">
            контакты
        </h2>
        <h3 class="requisites__subtitle subtitle">
            реквизиты
        </h3>
        <ul class="requisites__list">
            <li class="requisites__item">
                <span class="requisites__item-title">
                    ооо
                </span>
                Galeoncar
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    инн
                </span>
                7702390587
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    кпп
                </span>
                770201001
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    егрпоу
                </span>
                45379000000
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    окпо
                </span>
                49872183
            </li>           
            <li class="requisites__item">
                <span class="requisites__item-title">
                    расчетный счет
                </span>
                29000000000000
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    мфо
                </span>
                300000
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    банк
                </span>
                Приватбанк
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    Юридический адрес
                </span>
                01000, г. Киев, ул. Победы, 20
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    телефон
                </span>
                (095) 888-30-94
            </li>
            <li class="requisites__item">
                <span class="requisites__item-title">
                    Генеральный директор
                </span>
                Иванченко иван иванович
            </li>

        </ul>
    </div>
</section>