<section class="autopark section" id="autopark">
    <h2 class="autopark__subtitle subtitle">
        автопарк
    </h2>

    <div class="autopark__top">
        <h3 class="autopark__title title">
            Премиум
        </h3>
        <h3 class="autopark__title title">
            Бизнес
        </h3>
        <h3 class="autopark__title title">
            Спорт
        </h3>
    </div>

    <span class="sr-only">галлерея машин</span>
    <div class="autopark__slider swiper">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img class="autopark__image" src="../../images/autopark/1.jpg" alt="галлерея машин" width="660"
                    height="379">
                <a class="autopark__button button" href="#">Заказать машину</a>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="../../images/autopark/2.jpg" alt="галлерея машин" width="660"
                    height="379">
                <a class="autopark__button button" href="#">Заказать машину</a>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="../../images/autopark/3.jpg" alt="галлерея машин" width="660"
                    height="379">
                <a class="autopark__button button" href="#">Заказать машину</a>
            </div>

            <div class="swiper-slide">
                <img class="autopark__image" src="../../images/autopark/1.jpg" alt="галлерея машин" width="660"
                    height="379">
                <a class="autopark__button button" href="#">Заказать машину</a>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="../../images/autopark/2.jpg" alt="галлерея машин" width="660"
                    height="379">
                <a class="autopark__button button" href="#">Заказать машину</a>
            </div>
            <div class="swiper-slide">
                <img class="autopark__image" src="../../images/autopark/3.jpg" alt="галлерея машин" width="660"
                    height="379">
                <a class="autopark__button button" href="#">Заказать машину</a>
            </div>

        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>

    </div>

</section>