<div class="card section" style="background-image: url('../../images/special/bg/bg-1.jpg');">
    <div class="container">

        <h2 class="card__title title">
            трансфер
        </h2>
        <h3 class="card__subtitle subtitle">
            из аэропорта
        </h3>

        <div class="card__inner">

            <div class="card__text">
                <h4 class="card__text-title">
                    в стоимость услуги входит:
                </h4>
                <ul class="card__text-list">
                    <li class="card__text-item">Встреча в зоне ожидания с именной табличкой</li>
                    <li class="card__text-item">Подача автомобиля с персональным водителем в аэропорт</li>
                    <li class="card__text-item">Погрузка багажа в автомобиль</li>
                    <li class="card__text-item">Вы заранее можете обсудить весь маршрут и выразить дополнительные
                        пожелания к поездке с персональным менеджером</li>
                    <li class="card__text-item">В стоимость услуги входит 3 часа аренды автомобиля</li>
                </ul>
            </div>

            <div class="card__content">
                <img class="card__image" src="../../images/special/1.jpg" alt="трансфер из аэропорта" width="1193"
                    height="600">
            </div>

        </div>

    </div>
    <span class="sr-only">галлерея машин</span>

    <div class="slider swiper">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <h5 class="slider__title">
                    Mercedes A45 AMG
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/yellow-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Хэтчбек</li>
                        <li class="slider__item slider__item_type">2.0l Turbo</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    Lamborghini Gallardo
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/green-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Купе</li>
                        <li class="slider__item slider__item_type">5.2l V10</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    Ford Mustang 2.3 EcoBoost
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/black-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Купе</li>
                        <li class="slider__item slider__item_type">2.3l EcoBoost</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    BMW M2 Competition
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/white-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Купе</li>
                        <li class="slider__item slider__item_type">3.0l Turbo</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    Mercedes A45 AMG
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/yellow-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Хэтчбек</li>
                        <li class="slider__item slider__item_type">2.0l Turbo</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    Lamborghini Gallardo
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/green-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Купе</li>
                        <li class="slider__item slider__item_type">5.2l V10</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    Ford Mustang 2.3 EcoBoost
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/black-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Купе</li>
                        <li class="slider__item slider__item_type">2.3l EcoBoost</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

            <div class="swiper-slide">
                <h5 class="slider__title">
                    BMW M2 Competition
                </h5>
                <div class="slider__box">
                    <div class="slider__image">
                        <img class="slider__image" src="../../images/special/slider/white-car.png" alt="галлерея машин"
                            width="203" height="94">
                    </div>
                    <ul class="slider__list">
                        <li class="slider__item slider__item_car">Купе</li>
                        <li class="slider__item slider__item_type">3.0l Turbo</li>
                        <li class="slider__item slider__item_volume">Полный</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>

    </div>


</div>