<section class="driver section">
    <h2 class="driver__title title">
        аренда автомобиля
    </h2>
    <h3 class="driver__subtitle">
        с водителем
    </h3>

    <div class="driver__inner" style="background-image: url(../../images/bg/driver-bg.jpg)">
        <div class="driver__image">
            <img class="driver__img" src="../../images/driver.jpg" alt="аренда автомобиля с водителем" width="410"
                height="200">
        </div>
        <div class="registration">
            <ul class="registration__list">
                <li class="registration__item registration__item_docs">
                    <span class="registration__title">
                        аренда
                    </span>
                    <span class="registration__text">
                        24/7
                    </span>
                </li>
                <li class="registration__item registration__item_year">
                    <span class="registration__title">
                        первоклассные
                    </span>
                    <span class="registration__text">
                        водители
                    </span>
                </li>
                <li class="registration__item registration__item_experience">
                    <span class="registration__title">
                        подача
                    </span>
                    <span class="registration__text">
                        в любую точку Киева и Киевской области
                    </span>
                </li>
                <li class="registration__item registration__item_terms">
                    <span class="registration__title">
                        срок аренды
                    </span>
                    <span class="registration__text">
                        от 1 часа
                    </span>
                </li>
            </ul>
        </div>

    </div>
</section>