<section class="feedback section">
    <div class="container">
        <h2 class="feedback__title title">
            отзывы
        </h2>
        <h3 class="feedback__subtitle subtitle">
            наших клиентов
        </h3>

        <ul class="feedback__list">
            <li class="feedback__item">
                <img class="feedback__photo" src="../../images/feedback/1.png" alt="фото клиента" width="58"
                    height="58">
                <div class="feedback__box">
                    <span class="feedback__name">
                        Евгений
                    </span>
                    <span class="feedback__city">
                        Киев
                    </span>
                </div>
            </li>

            <li class="feedback__item">
                <img class="feedback__photo" src="../../images/feedback/2.png" alt="фото клиента" width="58"
                    height="58">
                <div class="feedback__box">
                    <span class="feedback__name">
                        Александр
                    </span>
                    <span class="feedback__city">
                        Киев
                    </span>
                </div>
            </li>

            <li class="feedback__item">
                <img class="feedback__photo" src="../../images/feedback/3.png" alt="фото клиента" width="58"
                    height="58">
                <div class="feedback__box">
                    <span class="feedback__name">
                        Вячеслав
                    </span>
                    <span class="feedback__city">
                        Киев
                    </span>
                </div>
            </li>

            <li class="feedback__item">
                <img class="feedback__photo" src="../../images/feedback/4.png" alt="фото клиента" width="58"
                    height="58">
                <div class="feedback__box">
                    <span class="feedback__name">
                        Елена
                    </span>
                    <span class="feedback__city">
                        Киев
                    </span>
                </div>
            </li>
            <li class="feedback__item">
                <img class="feedback__photo" src="../../images/feedback/5.png" alt="фото клиента" width="58"
                    height="58">
                <div class="feedback__box">
                    <span class="feedback__name">
                        Евгений
                    </span>
                    <span class="feedback__city">
                        Киев
                    </span>
                </div>
            </li>
        </ul>

        <div class="feedback__content">

            <div class="feedback__slider swiper">

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <span class="feedback__slider-name">
                            Евгений
                        </span>
                        <div class="feedback__slider-text">
                            <p>
                                Хочу порекомендовать данную компанию!
                                В этом году у них 3 раза арендовал машину для поездок из Киева в Харьков и Черниговскую
                                область на выходные (на 3-4 суток).
                                Машины исправные, в хорошем состоянии без каких-либо нареканий (бронировал эконом класс,
                                автомат, бензин).
                                Сервис — отличный, без каких-либо подводных камней и прочего обмана.
                                Galeoncar огромное спасибо!
                                Всем рекомендую!
                            </p>
                        </div>

                        <div class="feedback__slider-bottom">
                            <div class="feedback__slider-rate">
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                            </div>
                            <a class="feedback__slider-link" href="#">
                                Подробнее...
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <span class="feedback__slider-name">
                            Александр
                        </span>
                        <div class="feedback__slider-text">
                            <p>
                                Хочу порекомендовать данную компанию!
                                В этом году у них 3 раза арендовал машину для поездок из Киева в Харьков и Черниговскую
                                область на выходные (на 3-4 суток).
                                Машины исправные, в хорошем состоянии без каких-либо нареканий (бронировал эконом класс,
                                автомат, бензин).
                                Сервис — отличный, без каких-либо подводных камней и прочего обмана.
                                Galeoncar огромное спасибо!
                                Всем рекомендую!
                            </p>
                        </div>

                        <div class="feedback__slider-bottom">
                            <div class="feedback__slider-rate">
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                            </div>
                            <a class="feedback__slider-link" href="#">
                                Подробнее...
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <span class="feedback__slider-name">
                            Вячеслав
                        </span>
                        <div class="feedback__slider-text">
                            <p>
                                Хочу порекомендовать данную компанию!
                                В этом году у них 3 раза арендовал машину для поездок из Киева в Харьков и Черниговскую
                                область на выходные (на 3-4 суток).
                                Машины исправные, в хорошем состоянии без каких-либо нареканий (бронировал эконом класс,
                                автомат, бензин).
                                Сервис — отличный, без каких-либо подводных камней и прочего обмана.
                                Galeoncar огромное спасибо!
                                Всем рекомендую!
                            </p>
                        </div>

                        <div class="feedback__slider-bottom">
                            <div class="feedback__slider-rate">
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                            </div>
                            <a class="feedback__slider-link" href="#">
                                Подробнее...
                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <span class="feedback__slider-name">
                            Елена
                        </span>
                        <div class="feedback__slider-text">
                            <p>
                                Хочу порекомендовать данную компанию!
                                В этом году у них 3 раза арендовал машину для поездок из Киева в Харьков и Черниговскую
                                область на выходные (на 3-4 суток).
                                Машины исправные, в хорошем состоянии без каких-либо нареканий (бронировал эконом класс,
                                автомат, бензин).
                                Сервис — отличный, без каких-либо подводных камней и прочего обмана.
                                Galeoncar огромное спасибо!
                                Всем рекомендую!
                            </p>
                        </div>

                        <div class="feedback__slider-bottom">
                            <div class="feedback__slider-rate">
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                            </div>
                            <a class="feedback__slider-link" href="#">
                                Подробнее...
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <span class="feedback__slider-name">
                            Евгений
                        </span>
                        <div class="feedback__slider-text">
                            <p>
                                Хочу порекомендовать данную компанию!
                                В этом году у них 3 раза арендовал машину для поездок из Киева в Харьков и Черниговскую
                                область на выходные (на 3-4 суток).
                                Машины исправные, в хорошем состоянии без каких-либо нареканий (бронировал эконом класс,
                                автомат, бензин).
                                Сервис — отличный, без каких-либо подводных камней и прочего обмана.
                                Galeoncar огромное спасибо!
                                Всем рекомендую!
                            </p>
                        </div>

                        <div class="feedback__slider-bottom">
                            <div class="feedback__slider-rate">
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                                <span class="feedback__slider-star"></span>
                            </div>
                            <a class="feedback__slider-link" href="#">
                                Подробнее...
                            </a>
                        </div>
                    </div>

                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <div class="swiper-scrollbar"></div>
            </div>

            <div class="feedback__video">
                <button class="feedback__video-play" href="#" type="button"></button>
                <video class="feedback__video-desktop" width="972" height="421" controls crossorigin playsinline
                    poster="../../images/feedback/video-img.jpg">
                    <source src="../../images/feedback/video.mp4" type="video/mp4">
                </video>                
            </div>

        </div>

    </div>

</section>