<footer class="footer">

    <div class="footer__top">

        <nav class="menu">
            <div class="logo">
                <a class="logo__link" href="#">
                    <img class="logo__img" src="../../images/logo-footer.svg" alt="логотип" width="141" height="141">
                </a>
            </div>
            <ul class="menu__list">
                <li class="menu__item active">
                    <a class="menu__link" href="#">
                        Главная
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#autopark" data-where="anchor">
                        Автопарк
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="condition.html">
                        Аренда
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="business.html">
                        Для бизнеса
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="contact.html" data-where="anchor">
                        Контакты
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="authorization.html">
                        Личный кабинет
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__bottom">
        <span class="footer__copy">
            2022 © galeoncar
        </span>
        <span class="footer__politics">
            Политика конфиденциальности
        </span>
        <ul class="social">
            <li class="social__item">
                <span class="sr-only">перейти в фейсбук</span>
                <a class="social__link" href="#">
                    <svg class="social__image">
                        <use xlink:href="images/sprite.svg#fb"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <span class="sr-only">перейти в инстаграмм</span>
                <a class="social__link" href="#">
                    <svg class="social__image">
                        <use xlink:href="images/sprite.svg#insta"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <span class="sr-only">перейти в вконтакте</span>
                <a class="social__link" href="#">
                    <svg class="social__image">
                        <use xlink:href="images/sprite.svg#vk"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <span class="sr-only">перейти в вайбер</span>
                <a class="social__link" href="#">
                    <svg class="social__image">
                        <use xlink:href="images/sprite.svg#viber"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</footer>