<div class="special" style="background-image: url('../../images/special/special-banner.jpg');">
    <h2 class="special__title title">
        аренда автомобиля
    </h2>
    <h3 class="special__subtitle">
        для особых целей
    </h3>

    <ul class="buttons">
        <li class="buttons__item buttons__item_transfer">
            <a class="buttons__link" href="#">
                трансфер
            </a>
        </li>
        <li class="buttons__item buttons__item_meeting">
            <a class="buttons__link" href="#">
                бизнес встречи
            </a>
        </li>
        <li class="buttons__item buttons__item_wedding">
            <a class="buttons__link" href="#">
                для свадьбы
            </a>
        </li>
        <li class="buttons__item buttons__item_love">
            <a class="buttons__link" href="#">
                для свиданий
            </a>
        </li>
        <li class="buttons__item buttons__item_video">
            <a class="buttons__link" href="#">
                фото и видео съемка
            </a>
        </li>
        <li class="buttons__item buttons__item_business">
            <a class="buttons__link" href="#">
                бизнес
            </a>
        </li>
        <li class="buttons__item buttons__item_rentfor">
            <a class="buttons__link" href="#">
                аренда для...
            </a>
        </li>
        <li class="buttons__item buttons__item_book">
            <a class="buttons__link" href="#">
                заказать
            </a>
        </li>
    </ul>

</div>